name: Publish package to Maven Central

on:
  release:
    types: [ created ]

permissions:
  contents: read
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: central
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_TOKEN

      - name: Import GPG key
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
          KEY_ID=$(gpg --list-secret-keys --with-colons | grep '^sec' | cut -d: -f5)
          echo "Using GPG key: $KEY_ID"
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Configure GPG agent
        run: |
          echo "pinentry-mode loopback" >> ~/.gnupg/gpg.conf
          echo "passphrase=$GPG_PASSPHRASE" >> ~/.gnupg/gpg-agent.conf
          gpgconf --kill gpg-agent
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Publish to Maven Central
        run: mvn --batch-mode -Dgpg.passphrase="$GPG_PASSPHRASE" deploy
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_TOKEN: ${{ secrets.SONATYPE_TOKEN }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}